@page "/AboutUs"

<h3>About Us</h3>
<div class="col-md-6">
    <img src="/css/images/Defence.jpg" alt="School Pic">

</div>

<div>
    <p>
        Welcome to <strong>The Balance School</strong>! At our school, we are committed to providing a holistic education
        that focuses on the balance between academic excellence, character development, and fostering creativity.
    </p>

    <p>
        <strong>Our Mission:</strong> To empower students to achieve academic success while nurturing their personal
        growth and fostering a sense of balance in their lives.
    </p>

    <p>
        <strong>Core Values:</strong>
        <ul>
            <li>Academic Excellence</li>
            <li>Character Development</li>
            <li>Inclusivity</li>
            <li>Innovation and Creativity</li>
        </ul>
    </p>

    <p>
        <strong>Our Campus:</strong> The Balance School is equipped with modern facilities, including well-equipped
        classrooms, science laboratories, and extensive sports facilities, ensuring a conducive learning environment.
    </p>

    <p>
        We invite you to be a part of our community and explore the unique educational experience we offer. Please feel
        free to reach out if you have any questions or would like more information.
    </p>


</div>