@page "/Event"



<body>
  <div class="container-fluid">

    <div class="upper">
    <div class="text-center">
      <h1>Student Life</h1>
    </div>

    <div class="student-life">

      <div class="slideshow-container">

        <div class="mySlides fadee">
          <div class="numbertext">1 / 5</div>
          <img src="/images/The-Balance-School-System-Sialkot-Cantt-9.jpg" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fadee">
          <div class="numbertext">2 / 5</div>
          <img src="/images/The-Balance-School-System-Sialkot-Cantt-16.jpg" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fadee">
          <div class="numbertext">3 / 5</div>
          <img src="/images/The-Balance-School-System-Sialkot-Cantt-18.jpg" style="width:100%">
          <div class="text">Caption Three</div>
        </div>

        <div class="mySlides fadee">
            <div class="numbertext">4 / 5</div>
            <img src="/images/The-Balance-School-System-Sialkot-Cantt-7.jpg" style="width:100%">
            <div class="text">Caption Three</div>
          </div>

          <div class="mySlides fadee">
            <div class="numbertext">5 / 5</div>
            <img src="/images/The-Balance-School-System-Sialkot-Cantt-11.jpg" style="width:100%">
            <div class="text">Caption Three</div>
          </div>
        
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        <br>
        
        <div style="text-align:center; margin-bottom: 20px;">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
          <span class="dot" onclick="currentSlide(4)"></span> 
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>

    </div>
</div>


   

    <div class="text-center">
      <h1>Events</h1>
    </div>

    <div class="d-flex flex-row justify-content-between m-4">

      <div class="card color" style="width: 18rem; ">
        <img src="/images/award.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Awards and Recognition Ceremonies</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">March</li>
        </ul>

      </div>



      <div class="card color" style="width: 18rem;">
        <img src="/images/SCIENCE-EXHIBITION-1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Science and Art Exhibitions</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">April</li>
        </ul>

      </div>


      <div class="card color" style="width: 18rem;">
        <img src="/images/Independence-Day-of-Pakistan.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Independence Day Celebration</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">14 August</li>
        </ul>

      </div>


    </div>



    <div class="d-flex flex-row justify-content-between m-4">

      <div class="card color" style="width: 18rem;">
        <img src="/images/sports-gala.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Annual Sports Day</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">October</li>
        </ul>

      </div>



      <div class="card color" style="width: 18rem;">
        <img src="/images/Defence.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">History Day</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">An item</li>
          <li class="list-group-item color">6 September</li>
        </ul>

      </div>


      <div class="card color" style="width: 18rem;">
        <img src="/images/Milad-un-Nabi-2022-scaled.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Milad</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">Islamic mounth Rabi' al-Awwal</li>
        </ul>

      </div>


    </div>


        <div class="d-flex flex-row justify-content-between m-4">

      <div class="card color" style="width: 18rem;">
                <img src="/images/Iqbal-Day-Holiday-2023.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Iqbal Day</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">9 November</li>
        </ul>

      </div>



      <div class="card color" style="width: 18rem;">
        <img src="/images/Quaid-e-Azam-.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title bb">Quaid-e-Azam's Day</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>

        <ul class="list-group list-group-flush bb">
          <li class="list-group-item color">Date</li>
          <li class="list-group-item color">25 December</li>
        </ul>

      </div>

            <div class="card color" style="width: 18rem;">
                <img src="/images/HD  (20).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title bb">Cutural Day</h5>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>

                <ul class="list-group list-group-flush bb">
                    <li class="list-group-item color">Date</li>
                    <li class="list-group-item color">Jun</li>
                </ul>

            </div>


    </div>

   
    <!-- <div class="m-2 p-2 text-start " >
      <p>
        Our school's events are vibrant platforms nurturing diverse talents, fostering creativity, teamwork, and cultural appreciation. From sports days to art exhibitions, these occasions empower students, cultivating confidence, camaraderie, and a strong sense of belonging. They represent our commitment to holistic growth, creating cherished memories, and shaping our unique school identity."
      </p>
    </div> -->



  </div>

</body>

