@page "/Information"


<body>
    <div class="container">
        <div class="title text">
            <h1>Welcome to The Balance School Enrollment Information</h1>
        </div>

        <div class="introduction-information ">
            <p class="text">
                <i>
                    At The Balance School, we believe in fostering an environment where every student can thrive, learn,
                    and excel. We are delighted that you're considering becoming a part of our vibrant academic
                    community. Our enrollment process is designed to be comprehensive, transparent, and accessible to
                    ensure a smooth and informative experience for prospective students and their families. We look
                    forward to getting to know you and your family, and to helping you discover all that The Balance
                    School has to offer.
                </i>
            </p>

            <div class="image">
                <img src="/images/TBS.jpg" alt="image">
            </div>

        </div>

        <div class="admission-process">
            <div class="title text">
                <h2>Admission Process</h2>
            </div>

            <div class="text">
                <p>
                    Enrolling at The Balance School is an exciting journey. Our admission process is straightforward,
                    and we welcome students from diverse backgrounds. To begin the enrollment process, follow these
                    steps:
                </p>
            </div>

            <div class="text">
                <ol>
                    <li>
                        <b>Application Form:</b> Complete our online application form available on our website. You can
                        also obtain a physical copy from our administrative office.
                    </li>
                    <li>
                        <b>Required Documents:</b> Ensure you have all the necessary documents ready, such as academic
                        transcripts, recommendation letters, and any specific documents outlined in the application
                        guidelines.
                    </li>
                    <li>
                        <b>Assessment and Interviews:</b> Some programs or grade levels may require an assessment or
                        interview. Our team will guide you through this process.
                    </li>
                    <li>
                        <b>Acceptance:</b> Once you have completed the admission process, our team will review your
                        application and notify you of the outcome.
                    </li>
                </ol>
            </div>

        </div>

        <div class="visit-us">

            <div class="title text">
                <h2>Visit Us</h2>
            </div>

            <div class="text">
                <p>
                    We encourage prospective students and parents to schedule a visit to our campus. Experience our
                    facilities, meet our faculty, and get a firsthand look at the vibrant community at The Balance
                    School. To schedule a visit, please contact our administrative office.
                </p>
            </div>

        </div>

        <div class="contact-us">

            <div class="title text">
                <h2>Contact Us</h2>
            </div>

            <div class="text">
                <p>
                    If you have any queries or need assistance with the enrollment process, our administrative team is here
                    to help. Contact us via phone, email, or visit our administrative office during office hours.

                    Join [School Name] and embark on an educational journey that focuses on academic excellence, personal
                    growth, and a supportive learning environment.

                    We look forward to welcoming you into the The Balance School family.
                </p>
            </div>

        </div>


    </div>
</body>
