

    <header>
        <a href="#" class="logo"><i class="ri-home-4-fill"></i><span>LOGO</span></a>

        <ul class="navbar">
         
            <li><a href="Form"><span>Registration</span></a></li>
            <li><a href="/"><span>Events</span></a></li>
            <li><a href="Information"><span>Informaton</span></a></li>
            <li><a href="#"><span>Contact</span></a></li>
        </ul>

        <div class="main">
            
            <a href="#" class="sign-in"><i class="ri-user-3-fill"></i><span>Sign in</span></a>
            <a href="#" class="sign-up">Register</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>

    </header>

